<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar || ingresos</title>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../views/ingresos-nuevo/ingresos-nuevo.css" />

</head>

<body>
    <div class="container">
        <form id="form1">
            <fieldset>
                <label >Arrendatario</label>
                <input type="text" class="form-control" placeholder="ingrese el Arrendatario" id="arrendatario" name="arrendatario"> </br>    
                <label >Banco</label>
                <select id="banco">  
                    <option value="BANCOLOMBIA ****7493">BANCOLOMBIA ****7493</option>
                    <option value="BANCOLOMBIA ****8463">BANCOLOMBIA ****8463</option>
                </select></br>    
                <label >Valor</label>
                <input type="text" class="form-control" placeholder="ingrese valor" id="valor"  name="valor"></br>
                <label >Seleccione fecha</label>
                <input type="date" class="form-control" placeholder="" id="fecha"></br>              
            </fieldset>
        </form>
        <button id="ingresar" class="btn ">Ingresar</button>
         <button id="cancelar" class="btn ">Cancelar</button>
    </div>
    <script src="../../controllers/ingresos-nuevo.js"></script>
</body>

</html>