<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Gastos||Oficina</title>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../views/gastos-nuevo/gastos-nuevo.css" />

</head>

<body>
    <div class="container">
        <form id="form1">
            <fieldset>
                <label >Nombre</label>
                <input type="text" class="form-control" placeholder="ingrese el Nombre" id="nombre"> </br> 
                <label >Concepto</label>
                <input type="text" class="form-control" placeholder="ingrese el Concepto" id="concepto"> </br>
                <label>¿Es un impuesto?</label>
                <select id="opcion_impuesto">
                    <option value="1">si</option>
                    <option value="0">no</option>
                </select></br>               
                <label >Valor</label>
                <input type="text" class="form-control" placeholder="ingrese valor" id="valor"></br>
                <label >Seleccione fecha</label>
                <input type="date" class="form-control" placeholder="" id="fecha"></br>     
            </fieldset>
        </form>
        <button id="ingresar" class="btn ">Ingresar</button>
         <button id="cancelar" class="btn ">Cancelar</button>
    </div>
    <script src="../../controllers/gastos-nuevo.js"></script>
</body>

</html>