<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar || Pago</title>
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../views/pagos-nuevo/pagos-nuevo.css" />

</head>

<body>
    <div class="container">
        <form id="form1">
            <fieldset>
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="ingrese el nombre" id="nombre"> </br>
                <label>Seleccione el mes</label>
                <select id="mes-de-pago">
                    <option value="Enero">Enero</option>
                    <option value="Febrero">Febrero</option>
                    <option value="Marzo">Marzo</option>
                    <option value="Abril">Abril</option>
                    <option value="Mayo">Mayo</option>
                    <option value="Junio">Junio</option>
                    <option value="Julio">Julio</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Septiembre">Septiembre</option>
                    <option value="Octubre">Octubre</option>
                    <option value="Noviembre">Noviembre</option>
                    <option value="Diciembre">Diciembre</option>
                </select></br>
                <label>Canon</label>
                <input type="text" class="form-control" placeholder="ingrese valor canon" id="canon"></br>
                <label>¿Tiene iva?</label>
                <select id="opcion_iva">
                    <option value="si">si</option>
                    <option value="no">no</option>
                </select></br>
                <label>Administracion</label>
                <input type="text" class="form-control" placeholder="ingrese valor administracion" id="admin"></br>
                <label>¿Tiene retencion de arrendatario?</label>
                <select id="opcion_retencion_arren">
                    <option value="si">si</option>
                    <option value="no">no</option>
                </select></br>
                <label>Retencion de iva</label>
                <input type="text" class="form-control" placeholder="ingrese valor retencion iva"
                    id="retencion-iva"></br>
                <label>Retencion de ica</label>
                <input type="text" class="form-control" placeholder="ingrese valor retencion ica"
                    id="retencion-ica"></br>
                <label>¿Tiene retencion de propietario?</label>
                <select id="opcion_reten_prop">
                    <option value="si">si</option>
                    <option value="no">no</option>
                </select></br>
                <label>¿Tiene seguro?</label>
                <select id="opcion_seguro">
                    <option value="si">si</option>
                    <option value="no">no</option>
                </select></br>
                <label>4Xmil</label>
                <input type="text" class="form-control" placeholder="ingrese valor 4xmil" id="4x-mil"></br>
                <label>Otr. Des</label>
                <input type="text" class="form-control" placeholder="ingrese valor otr. des." id="otros-des"></br>
                <label>Seleccione fecha</label>
                <input type="date" class="form-control" placeholder="" id="fecha"></br>
            </fieldset>
        </form>
        <button id="ingresar" class="btn ">Ingresar</button>
        <button id="cancelar" class="btn ">Cancelar</button>
    </div>
    <script src="../../controllers/pagos-nuevo.js"></script>
</body>

</html>